/* style.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E6F2F8;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(135deg, #ffa20d, #e85100);
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

.logo {
  display: inline-block;
  margin-right: 10px;
}

.logo-image {
  height: 30px; /* Adjust the height as needed */
  width: auto; /* Preserve aspect ratio */
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
  color: #FF8C00;
}


.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-description {
  flex-grow: 1;
}

h2 {
  color: #004E7C;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  line-height: 1.5;
  color: #333;
}

a {
  color: #FF8C00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(135deg, #6dbbff, #003fbc);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section a {
  text-decoration: none;
  margin-right: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-subtitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.footer-info {
  font-size: 14px;
}

.footer-info p {
  margin-bottom: 5px;
}

.footer-info small {
  font-size: 12px;
  opacity: 0.7;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.project-logo {
  width: 80px;
  height: 80px;
}

.project h3 {
  font-size: 16px;
  text-align: center;
}
