/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E6F2F8;
}

header {
  background: linear-gradient(135deg, #ffa20d, #e85100);
  color: white;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 {
  margin: 0;
}

.logo {
  display: inline-block;
  margin-right: 10px;
}

.logo-image {
  height: 30px; /* Adjust the height as needed */
  width: auto; /* Preserve aspect ratio */
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.link {
  color: #FF8C00;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-description {
  flex-grow: 1;
}

h2 {
  color: #004E7C;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  line-height: 1.5;
  color: #333;
}

a {
  color: #FF8C00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: linear-gradient(135deg, #6dbbff, #003fbc);
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.footer-section {
  margin-bottom: 10px;
}

.footer-section a {
  text-decoration: none;
  margin-right: 10px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.fullscreen-image {
  background-image: url('https://bing.shangzhenyang.com/api/1080p');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.welcome-text {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  display: inline;
  padding: 0.5rem;
  z-index: 999;
}

.content {
  background-color: #F2F2F2;
  padding: 40px;
}

.project-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project {
  text-align: center;
  width: 150px;
  margin-bottom: 20px;
}

.project-logo {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.project-logo img {
  width: 60px;
  height: 60px;
}

.project h3 {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

@media screen and (max-width: 500px) {
  .project {
    width: 100%;
  }
}
